<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="static/assets/css/variables.css" rel="stylesheet">
  <link href="static/assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  {% include "header.html" %}


<!-- Main Content-->
  <main id="main">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <div class="page-title">
              {% if msg_sent: %}
                <h1>Thank you for your submission.</h1>
              {% else: %}
                <h1>Have questions? I have answers.</h1>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>
            Want to get in touch? Fill out the form below to send me a message and
            I will get back to you as soon as possible!
          </p>
          <div class="my-5">
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * Simplified SB Contact Form for the Tutorial* *-->
            <!-- TODO: add an "action" and a "method" to link this form to your main.py -->
            <form
              id="contactForm"
              name="sentMessage"
              action="{{ url_for('receive_data') }}" method="post"
            >
              <div class="form-floating">
                <input
                  class="form-control"
                  id="name"
                  name="name"
                  type="text"
                  placeholder="Enter your name..."
                  required
                />
                <label for="name">Name</label>
              </div>
              <div class="form-floating">
                <input
                  class="form-control"
                  id="email"
                  name="email"
                  type="email"
                  placeholder="Enter your email..."
                  required
                />
                <label for="email">Email address</label>
              </div>
              <div class="form-floating">
                <input
                  class="form-control"
                  id="phone"
                  name="phone"
                  type="tel"
                  placeholder="Enter your phone number..."
                  required
                />
                <label for="phone">Phone Number</label>
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Enter your message here..."
                  required
                  style="height: 12rem"
                ></textarea>
                <label for="message">Message</label>
              </div>
              <br />
              <button
                class="btn btn-primary text-uppercase"
                id="submitButton"
                type="submit"
              >
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>
  </main>

{% include "footer.html" %}
